.profimage {
    border-radius: 50%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.top-space {
    height: 150px;
}

body {
    width: 100%;
    /* overflow-x:hidden; */
    /* position: fixed; */
}

.home {
    padding-right: 40px;
}

.home-page {
    height: 100vh;
    width: 100%;
    /* background-color: #6D435A; */
    background-image: url("../assets/images/coding-language.jpg");
    /* opacity: 0.8; */
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: rgba(  215, 38, 0 ,0.6);
    text-align-last: center;
    color: whitesmoke;
}

#info {

    position: absolute;
    text-align: center;
    z-index: 15;
    top: 40%;
    left: 40%;
    margin: -100px 0 0 -150px;
        
}

#info h1 {
    color: white; 
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 40px;
    padding-left: 80px;
    padding-right: 20px;
}

.stuff {
    /* width: 800px; */
    padding: 0px;
}

#info h2 {
    color: white; 
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.about {
}


.navbar {
    height: 90px;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: white;
}

.imagediv {
    /* position: relative; */
    /* padding-left: 300px ; */
    width: 100%;  
    border-right: 2px solid white;
}


.nav-link {
    color:white; 
}

#quotation {
    border: 2px solid white;
    padding: 20px;
    color: #F4FF52;
}

#quotes {
    padding-top: 350px;
    margin: auto;
    width: 75%;
    top: 70% ;
    /* background-color:; */
    /* height: 100px;
    border-top: 20px; */
    font-family: 'Lato', sans-serif;
    /* text-align: justify; */
}

.gap2 {
    padding: 25px;
}

.gap3 {
    padding: 20px;
}

.gap4 {
    padding: 70px;
}

.about-me {
    background-color: white;
    /* height: 100vh; */
}
/* 
.about-head {
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
} */

.about-head {
    /* background-color: black; */
    /* width: 100%; */
    /* color: white; */
    /* font-size: 50px; */
    font-weight: 600;
    text-align: center;
    padding: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto; 

    background-color: white;
    border-top  : 4px solid rgba(  215, 38, 0 ,0.6);
    border-bottom  : 4px solid rgba(  215, 38, 0 ,0.6);
    color: rgba(  215, 38, 0 ,0.6);;
    

}

.myself {
    color: rgba(  215, 38, 0 ,0.6);
    /* border: 3px solid rgba(  215, 38, 0 ,0.6); */
    padding: 40px;  
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 900;
    text-align: center;

    background-color:  rgba(  215, 38, 0 ,0.6);
    color: white;

}

.skills-header {
    /* background-color: black; */
    /* width: 100%; */
    /* color: white; */
    text-align: center;
    padding: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto; 

    color: rgba(  215, 38, 0 ,0.6);
    border: 3px solid rgba(  215, 38, 0 ,0.6);
    

}

/* .carousel-inner {
    height: 300px;
    width: auto;
} */


.carousel-item{
    height: 600px;
    width: 500px;
} 
.carousel-item img{
    height: 600px;
    width: 500px;
}

/* .containing {
    position: relative;
}

.myself {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.image2 { 
    width: 100%;
    height: 00px;
    opacity: 0.6;
} */


#eb_elect {
    opacity: 0.4;
    /* background-attachment: fixed;
    background-blend-mode: overlay;
    background-size:cover; */
    height: 20rem;
}

.space_expe {
    padding: 25px;
}

#card1 {
    margin-left: 92px;
}

#card1 {
    padding: 50px;
}

.my-skills {
    /* background-color:  rgba(  215, 38, 0 ,0.6); */
    /* height: 100vh; */
    background-color: black;

}

.space_skills {
    padding: 25px;
}


.skills-head {
    /* background-color: black; */
    /* width: 100%; */
    color: white;
    /* font-size: 50px; */
    font-weight: 600;
    text-align: center;
    padding: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto; 

    /* color: rgba(  215, 38, 0 ,0.6); */
    /* border: 3px solid rgba(  215, 38, 0 ,0.6); */
    border: 3px solid white;
    

}

.card-deck {
    margin-left: 0.5px;
}

.contact-me {
    /* border: 3px solid rgba(  215, 38, 0 ,0.6); */
    border-top: 3px solid rgba(  215, 38, 0 ,0.6);
    border-bottom: 3px solid rgba(  215, 38, 0 ,0.6);
}


#contact-phrase{
    padding-top: 15%;
    color: white;
    /* color: rgba(  215, 38, 0 ,0.6); */
    /* border-top: 3px solid rgba(  215, 38, 0 ,0.6); */
    /* border-bottom: 3px solid rgba(  215, 38, 0 ,0.6); */
    /* border-right: 3px solid rgba(  215, 38, 0 ,0.6); */
    /* border: 3px solid rgba(  215, 38, 0 ,0.6); */
}

#email {
    padding-left: 200px;
}

.contacts{
    width: 60%;
}
.email-link {
    padding-left: 1100px; 
}

#contact3 {
    background-color: rgba(  215, 38, 0 ,0.6);
    color: rgba(  215, 38, 0 ,0.6);
}

